.col-md-12
  - if !user_signed_in?
    .jumbotron
      %p
        Please Sign_up or log_in to give a comment!
  - @movies.each_slice(3) do |movies|
    .row
      - movies.each do |movie|
        .col-md-4
          = link_to((image_tag movie.image.thumb.url.to_s, class: 'image'), movie)
          %h4= link_to movie.title, movie
          - if movie.editable_by?(current_user)
            =link_to "Edit", edit_movie_path(movie)
            =link_to "Delete", movie_path(movie), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
    %br


